*{
    
}

#container{
    width: 80%;
    margin: 0 auto;
}

img{
    width: 30%;
    margin: 1.4%;
}

#h1Edit{
    width: 49%;
    border-bottom: 2px solid red;
    margin-left: 1.4%;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}